.app {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 10px;
  }
  
.pointsListWrapper {
    width: 40vw;
    height: 80vh;
    min-width: 190px;
    margin-right: 5px;
  }
